@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    }

    .navbar-link {
        @apply block py-2 pl-3 pr-4 text-gray-100 rounded hover:bg-gray-100 hover:bg-transparent border-0 hover:text-blue-700 p-0 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white dark:hover:bg-transparent
    }

    .card-base {
        @apply max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700
    }

    .card-title {
        @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white
    }

    .input-label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
    }

    .input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }
}
